{% extends "show/base.html" %}

{% block content %}
      <div class="row">
        <div class="fluid-center" style="padding: 15px; margin: 25px;">
            <div class="row">

            {% for musical in musicals.all %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    {% if musical.image %}
                    <a href="{% url 'musical_detail' musical.id %}"><img class="card-img-top" src="{{ musical.image.url }}" alt="" height=300></a>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="{% url 'musical_detail' musical.id %}">{{ musical.title }}</a>
                        </h4>
                        <h5> {{musical.date}}</h5>
                        <h5>{{musical.place1}}</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

{% endblock %}